/* Reset styles. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background: #e2e0f7;
}

hr {
    border: none;
    height: 1px;
    background: #bbb;
}

.hr-dot {
    border: none;
    border-top: 1px dotted #bbb;
    background-color: white;
}

h2, h3 {
    font-weight: normal;
}

.header-bar {
    width: available;
    height: auto;
    padding-bottom: 14px;
    margin-left: 38px;
    margin-right: 38px;
    background: radial-gradient(
            circle,
            rgb(32, 29, 54) 0%,
            rgb(31, 31, 59) 50%,
            rgba(23, 35, 37, 1) 100%
    );
    border-radius: 0 0 10px 10px;
}

.header-bar-title {
    color: white;
    font-size: 3rem;
    padding-left: 34px;
    padding-top: 19px;
    padding-bottom: 1px;
    text-shadow: white 0 0 3px;
}

.header-bar-button-row {
    display: inline-block;
    margin-top: 16px;
    width: 100%;
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgba(120, 118, 161, 1) 6%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 94%,
            rgba(47, 38, 54, 1) 100%
    );
    padding: 10px 0;
}

.header-bar-lp {
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgba(120, 118, 161, 1) 6%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 94%,
            rgba(47, 38, 54, 1) 100%
    );
    padding-right: 19px;
    width: 19px;
}

.header-bar-button {
    color: white;
    text-shadow: white 0 0 3px;
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgba(120, 118, 161, 1) 6%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 94%,
            rgba(47, 38, 54, 1) 100%
    );
    padding: 10px 20px;
    text-decoration: none;
    border-left: solid 1px #232436;
    border-right: solid 1px #50506c;
}

.header-bar-button:hover {
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgb(134, 132, 169) 8%,
            rgba(134, 134, 176, 1) 48%,
            rgb(109, 110, 148) 52%,
            rgba(75, 69, 92, 1) 92%,
            rgba(47, 38, 54, 1) 100%
    );
}

.hbb-left {
    border-left: solid 1px #232436;
    box-shadow: -1px 0 0 0 #50506c;
    margin-left: 19px;
}

.hbb-right {
    border-right: inset 1px #50506c;
    box-shadow: 1px 0 0 0 #232436;
}


.header-bar-top-menu {
    float: right;
    display: inline-block;
    margin-top: -3.7rem;
    padding-right: 1.8rem;
}

.header-top-button {
    padding-left: 22px;
    color: white;
    text-decoration: none;
    text-shadow: #dadada 0 0 3px;
}

.header-top-button:hover {
    text-decoration: underline;
}

.content {
    background: #f9faff;
    width: available;
    margin-left: 38px;
    margin-top: 14px;
    margin-right: 38px;
    min-height: inherit;
    padding: 20px;
    border-radius: 10px;
}

.fi-text {
    border: solid 1px #464774;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    margin: 3px 0;
    outline: none;
    width: 10vw;
    box-shadow: #50506c 0 0 3px;
}

.fi-text:hover {
    box-shadow: #50506c 0 0 4px;
}

.fi-select {
    border: solid 1px #464774;
    border-radius: 4px;
    padding: 4px 4px 4px 1px;
    width: 7vw;
    height: 27px;
    font-size: 0.9rem;
    margin: 3px 10px 3px 0;
    outline: none;
    box-shadow: #50506c 0 0 3px;
    background: white;
}

.fi-select:hover {
    box-shadow: #50506c 0 0 4px;
}

.button-1 {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 2px;
    margin-right: 14px;
    font-size: 0.9rem;
    color: white;
    text-shadow: white 0 0 3px;
    box-shadow: #464774 0 0 2px;
    background: linear-gradient(
            180deg,
            rgba(120, 118, 161, 1) 0%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 100%
    );
    cursor: pointer;
    text-decoration: none;
}

.button-1:hover {
    background: linear-gradient(
            180deg,
            rgb(134, 132, 169) 0%,
            rgba(134, 134, 176, 1) 48%,
            rgb(109, 110, 148) 52%,
            rgba(75, 69, 92, 1) 100%
    );
}

.ba-wrap {
    margin: 20px 0 8px 0;
}

.f-inline {
    margin-top: 6px;
    padding-top: 1px;
    display: inline-block;
}

.b-inline {
    height: 28px;
    padding-top: 6px;
    margin-top: 1px;
    margin-left: 8px;
}

.a1 {
    text-decoration: none;
    color: black;
}

.a1:hover {
    text-decoration: underline;
}

.red {
    color: red;
}

.red-u:hover {
    text-decoration: red underline;
}

.green {
    color: #29a829;
}

.category {
    margin-bottom: 16px;
}

.forum-list-item {
    padding: 2px 0;
}

.forum-topic {
    font-size: 0.8rem;
    padding-top: 2px;
}

.b-img-a {
    padding-left: 9px;
}

.b-plus {
    height: 14px;
    filter: brightness(95%);
}

.b-plus:hover {
    filter: brightness(110%);
}

.bc-a {
    font-size: 0.8rem;
}

.bc-home {
    width: 18px;
    margin-bottom: -3px;
    filter: hue-rotate(-130deg) saturate(40%) brightness(95%);
}

.bc-home:hover {
    filter: hue-rotate(-130deg) saturate(40%) brightness(110%);
}

.bc-arrow {
    width: 9px;
    padding: 0 8px;
    filter: invert(50%);
}

.fti {

}

/* */

*:focus {
    outline: none;
}

* {
    outline: none;
}
