/* Glass Classic */

/* Reset styles. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    background: #e2e0f7;
    width: calc(100vw - 34px);
    padding-left: 17px;
}

hr {
    border: none;
    height: 1px;
    background: #bbb;
}

.code {
    background: #f8f4ff;
    border: solid 1px #e4e2f2;
    padding: 8px;
    margin-bottom: 6px;
}

blockquote {
    background: #eee;
    border: solid 1px #d8d8d8;
    padding: 4px 8px 8px 8px;
    margin-bottom: 6px;
}

.hr-dot {
    border: none;
    border-top: 1px dotted #bbb;
    background-color: #f9faff;
}

h2, h3 {
    font-weight: normal;
}

.px {
    line-height: 23px;
}

.header-bar {
    width: available;
    height: auto;
    padding-bottom: 14px;
    margin: 0 calc((100vw - 120vh) / 2);
    background: radial-gradient(
            circle,
            rgb(32, 29, 54) 0%,
            rgb(31, 31, 59) 50%,
            rgba(23, 35, 37, 1) 100%
    );
    border-radius: 0 0 10px 10px;
}

.header-bar-title {
    color: white;
    font-size: 3rem;
    padding-left: 34px;
    padding-top: 19px;
    padding-bottom: 1px;
    text-shadow: white 0 0 3px;
}

.header-bar-button-row {
    display: inline-block;
    margin-top: 16px;
    width: 100%;
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgba(120, 118, 161, 1) 6%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 94%,
            rgba(47, 38, 54, 1) 100%
    );
    padding: 10px 0;
}

.header-bar-lp {
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgba(120, 118, 161, 1) 6%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 94%,
            rgba(47, 38, 54, 1) 100%
    );
    padding-right: 19px;
    width: 19px;
}

.header-bar-button {
    color: white;
    text-shadow: white 0 0 3px;
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgba(120, 118, 161, 1) 6%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 94%,
            rgba(47, 38, 54, 1) 100%
    );
    padding: 10px 20px;
    text-decoration: none;
    border-left: solid 1px #232436;
    border-right: solid 1px #50506c;
}

.header-bar-button:hover {
    background: linear-gradient(
            180deg,
            rgba(53, 53, 71, 1) 0%,
            rgb(134, 132, 169) 8%,
            rgba(134, 134, 176, 1) 48%,
            rgb(109, 110, 148) 52%,
            rgba(75, 69, 92, 1) 92%,
            rgba(47, 38, 54, 1) 100%
    );
}

.hbb-left {
    border-left: solid 1px #232436;
    box-shadow: -1px 0 0 0 #50506c;
    margin-left: 19px;
}

.hbb-right {
    border-right: inset 1px #50506c;
    box-shadow: 1px 0 0 0 #232436;
}


.header-bar-top-menu {
    float: right;
    display: inline-block;
    margin-top: -3.7rem;
    padding-right: 1.8rem;
}

.header-top-button {
    padding-left: 22px;
    color: white;
    text-decoration: none;
    text-shadow: #dadada 0 0 3px;
}

.header-top-button:hover {
    text-decoration: underline;
}

.content {
    background: #f9faff;
    width: available;
    margin: 14px calc((100vw - 120vh) / 2);
    min-height: inherit;
    padding: 20px;
    border-radius: 10px;
}

.fi-text {
    border: solid 1px #464774;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    margin: 3px 0;
    outline: none;
    width: 10vw;
    box-shadow: #50506c 0 0 3px;
}

.fi-text:hover {
    box-shadow: #50506c 0 0 4px;
}

.fi-select {
    border: solid 1px #464774;
    border-radius: 4px;
    padding: 4px 4px 4px 1px;
    width: 7vw;
    height: 27px;
    font-size: 0.9rem;
    margin: 3px 10px 3px 0;
    outline: none;
    box-shadow: #50506c 0 0 3px;
    background: white;
}

.fi-select:hover {
    box-shadow: #50506c 0 0 4px;
}

.button-1 {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 2px;
    margin-right: 14px;
    font-size: 0.9rem;
    color: white;
    text-shadow: white 0 0 3px;
    box-shadow: #464774 0 0 2px;
    background: linear-gradient(
            180deg,
            rgba(120, 118, 161, 1) 0%,
            rgba(86, 86, 129, 1) 48%,
            rgba(70, 71, 116, 1) 52%,
            rgba(67, 61, 85, 1) 100%
    );
    cursor: pointer;
    text-decoration: none;
}

.button-1:hover {
    background: linear-gradient(
            180deg,
            rgb(134, 132, 169) 0%,
            rgba(134, 134, 176, 1) 48%,
            rgb(109, 110, 148) 52%,
            rgba(75, 69, 92, 1) 100%
    );
}

.title {
    overflow-wrap: break-word;
}

.comment-text {
    font-size: 0.85rem;
    overflow-wrap: break-word;
}

.ba-wrap {
    margin: 12px 0 8px 0;
}

.f-inline {
    margin-top: 6px;
    padding-top: 1px;
    display: inline-block;
}

.f-page {
    margin-top: 6px;
    padding-top: 1px;
    display: inline-block;
}

.b-inline {
    height: 28px;
    padding-top: 6px;
    margin-top: 1px;
    margin-left: 8px;
}

.p {
    height: 4px;
}

.a1 {
    text-decoration: none;
    color: black;
}

.a1:hover {
    text-decoration: underline;
}

.a2 {
    text-decoration: none;
    color: #47425a;
}

.a2:hover {
    text-decoration: underline;
}

.a-page {
    padding-right: 6px;
}

.red {
    color: red;
}

.red-u:hover {
    text-decoration: red underline;
}

.pa {
    margin-right: 15px;
}

.green {
    color: #29a829;
}

.page-numbers {
    margin-top: -21px;
    float: right;
}

.bottom-page-numbers {
    margin-top: -1px;
}

.category {
    margin-bottom: 16px;
}

.forum-list-item {
    padding: 2px 0;
}

.forum-topic {
    font-size: 0.8rem;
    padding-top: 2px;
}

.comment-list-item {
    display: flex;
}

.commenter-info {
    float: left;
    margin-top: -4px;
    margin-bottom: 19px;
    border-right: solid 1px #d4d2e1;
    margin-right: 12px;
    background: #e8e6f4;
    min-width: 160px;
    padding: 12px 8px;
    font-size: 0.9rem;
}

.rem-p8 {
    font-size: 0.8rem;
}

.commenter-username {
    margin-bottom: 8px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160px;
    padding-top: 4px;
    max-width: calc(120vh - 264px);
}

.cdv {
    margin-left: calc(-150px - 39px);
    margin-top: 10px;
    width: calc(120vh - 74px);
}

/* Comment-top margin reducer */
.ctmr {
    margin-top: -6px;
}

.inline {
    display: inline;
}

.post-image {
    max-width: 40%;
}

.footer-text {
    margin-top: -6px;
    font-size: 0.8rem;
}

.footer-sep {
    padding: 0 12px;
    color: #a9a7bb;
    margin-top: -2px;
    font-size: 1.2rem;
    position: relative;
    top: 0.1rem;
}

.b-img-a {
    padding-left: 14px;
}

.b-img-b {
    padding-left: 8px;
}

.b-plus {
    height: 14px;
    filter: brightness(95%);
}

.b-plus:hover {
    filter: brightness(110%);
}

.b-x {
    height: 12px;
    padding-bottom: 1px;
    filter: brightness(110%);
}

.b-x:hover {
    filter: brightness(150%);
}

.post-index {
    line-height: 20px;
}

.u {
    color: #396fc8;
    text-decoration: none;
}

.u:hover {
    text-decoration: underline;
}

.bc-a {
    font-size: 0.8rem;
}

.float-r {
    float: right;
}

.bc-home {
    width: 18px;
    margin-bottom: -3px;
    filter: hue-rotate(-130deg) saturate(40%) brightness(95%);
}

.bc-home:hover {
    filter: hue-rotate(-130deg) saturate(40%) brightness(110%);
}

.cursor-hand {
    cursor: pointer;
}

.bc-arrow {
    width: 9px;
    padding: 0 8px;
    filter: invert(50%);
}

.fti {
    width: 40vw;
    font-family: sans-serif;
    border: solid 1px #464774;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    margin: 3px 0;
    outline: none;
    box-shadow: #50506c 0 0 3px;
}

.fti:hover {
    box-shadow: #50506c 0 0 4px;
}

.thread-l {
    color: #888;
}

/* */

*:focus {
    outline: none;
}

* {
    outline: none;
}
