/* Glass Grey */

/* Reset styles. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background: #ebebeb;
}

hr {
    border: none;
    height: 1px;
    background: #bbb;
}

.hr-dot {
    border: none;
    border-top: 1px dotted #bbb;
    background-color: white;
}

h2, h3 {
    font-weight: normal;
}

.header-bar {
    width: available;
    height: auto;
    padding-bottom: 14px;
    margin-left: 38px;
    margin-right: 38px;
    background: radial-gradient(
            circle,
            rgb(53, 51, 54) 0%,
            rgb(57, 57, 59) 50%,
            rgb(37, 34, 37) 100%
    );
    border-radius: 0 0 10px 10px;
}

.header-bar-title {
    color: white;
    font-size: 3rem;
    padding-left: 34px;
    padding-top: 19px;
    padding-bottom: 1px;
    text-shadow: white 0 0 3px;
}

.header-bar-button-row {
    display: inline-block;
    margin-top: 16px;
    width: 100%;
    background: linear-gradient(
            180deg,
            rgb(71, 67, 71) 0%,
            rgb(161, 158, 159) 6%,
            rgb(128, 126, 129) 48%,
            rgb(114, 111, 116) 52%,
            rgb(85, 82, 84) 94%,
            rgb(54, 51, 54) 100%
    );
    padding: 10px 0;
}

.header-bar-lp {
    background: linear-gradient(
            180deg,
            rgb(71, 67, 71) 0%,
            rgb(161, 158, 159) 6%,
            rgb(128, 126, 129) 48%,
            rgb(114, 111, 116) 52%,
            rgb(85, 82, 84) 94%,
            rgb(54, 51, 54) 100%
    );
    padding-right: 19px;
    width: 19px;
}

.header-bar-button {
    color: white;
    text-shadow: white 0 0 3px;
    background: linear-gradient(
            180deg,
            rgb(71, 67, 71) 0%,
            rgb(161, 158, 159) 6%,
            rgb(128, 126, 129) 48%,
            rgb(114, 111, 116) 52%,
            rgb(85, 82, 84) 94%,
            rgb(54, 51, 54) 100%
    );
    padding: 10px 20px;
    text-decoration: none;
    border-left: solid 1px #363435;
    border-right: solid 1px #6c6a6c;
}

.header-bar-button:hover {
    background: linear-gradient(
            180deg,
            rgb(71, 68, 71) 0%,
            rgb(169, 166, 167) 8%,
            rgb(176, 168, 176) 48%,
            rgb(148, 142, 143) 52%,
            rgb(92, 88, 91) 92%,
            rgb(54, 51, 53) 100%
    );
}

.hbb-left {
    border-left: solid 1px #363435;
    box-shadow: -1px 0 0 0 #6c6a6b;
    margin-left: 19px;
}

.hbb-right {
    border-right: solid 1px #363435;
    box-shadow: 1px 0 0 0 #363334;
}


.header-bar-top-menu {
    float: right;
    display: inline-block;
    margin-top: -3.7rem;
    padding-right: 1.8rem;
}

.header-top-button {
    padding-left: 22px;
    color: white;
    text-decoration: none;
    text-shadow: #dadada 0 0 3px;
}

.header-top-button:hover {
    text-decoration: underline;
}

.content {
    background: #f9faff;
    width: available;
    margin-left: 38px;
    margin-top: 14px;
    margin-right: 38px;
    min-height: inherit;
    padding: 20px;
    border-radius: 10px;
}

.fi-text {
    border: solid 1px #746f73;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    margin: 3px 0;
    outline: none;
    width: 10vw;
    box-shadow: #6c6969 0 0 3px;
}

.fi-text:hover {
    box-shadow: #6c686b 0 0 4px;
}

.fi-select {
    border: solid 1px #726f74;
    border-radius: 4px;
    padding: 4px 4px 4px 1px;
    width: 7vw;
    height: 27px;
    font-size: 0.9rem;
    margin: 3px 10px 3px 0;
    outline: none;
    box-shadow: #6c676b 0 0 3px;
    background: white;
}

.fi-select:hover {
    box-shadow: #6c686b 0 0 4px;
}

.button-1 {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 2px;
    margin-right: 14px;
    font-size: 0.9rem;
    color: white;
    text-shadow: white 0 0 3px;
    box-shadow: #737074 0 0 2px;
    background: linear-gradient(
            180deg,
            rgb(159, 154, 161) 0%,
            rgb(129, 124, 128) 48%,
            rgb(116, 110, 115) 52%,
            rgb(85, 80, 83) 100%
    );
    cursor: pointer;
    text-decoration: none;
}

.button-1:hover {
    background: linear-gradient(
            180deg,
            rgb(168, 166, 169) 0%,
            rgb(176, 176, 176) 48%,
            rgb(148, 146, 145) 52%,
            rgb(92, 90, 92) 100%
    );
}

.ba-wrap {
    margin: 12px 0 8px 0;
}

.f-inline {
    margin-top: 6px;
    padding-top: 1px;
    display: inline-block;
}

.b-inline {
    height: 28px;
    padding-top: 6px;
    margin-top: 1px;
    margin-left: 8px;
}

.p {
    height: 4px;
}

.a1 {
    text-decoration: none;
    color: black;
}

.a1:hover {
    text-decoration: underline;
}

.a2 {
    text-decoration: none;
    color: #5a5858;
}

.a2:hover {
    text-decoration: underline;
}

.red {
    color: red;
}

.red-u:hover {
    text-decoration: red underline;
}

.green {
    color: #29a829;
}

.category {
    margin-bottom: 16px;
}

.forum-list-item {
    padding: 2px 0;
}

.forum-topic {
    font-size: 0.8rem;
    padding-top: 2px;
}

.b-img-a {
    padding-left: 9px;
}

.b-plus {
    height: 14px;
    filter: brightness(95%);
}

.b-plus:hover {
    filter: brightness(110%);
}

.bc-a {
    font-size: 0.8rem;
}

.bc-home {
    width: 18px;
    margin-bottom: -3px;
    filter: saturate(20%) brightness(95%);
}

.bc-home:hover {
    filter: saturate(20%) brightness(110%);
}

.bc-arrow {
    width: 9px;
    padding: 0 8px;
    filter: invert(50%);
}

.fti {
    width: 40vw;
    font-family: sans-serif;
    border: solid 1px #736f74;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    margin: 3px 0;
    outline: none;
    box-shadow: #6c666b 0 0 3px;
}

.fti:hover {
    box-shadow: #6c666b 0 0 4px;
}

.thread-l {
    color: #888;
}

/* */

*:focus {
    outline: none;
}

* {
    outline: none;
}
